################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/react-ts/src/pages/auth/LoginPage
